.search-wrapper input[type=search]#q
{
	padding: 2px;
	border: 1px solid #bbb;
	color: #4e4e4e;
	background-color: #fff;
	height: 24px;
}

#search-results-alerts
{
    background-color: #fffeac;
    padding: 0.75em;
    margin: 0.5em 0.5em 0.5em 0em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #eee;
    color: #a85605;
}

.search-wrapper select { height: 24px; }

.ctl-events .event {
    margin-top: 2em!important;
}

.event
{
	width: 100%;
	margin-top: 2.5em;
}

.event *, form *, select, input { font-size: 14px!important; }
input { border-radius: 5px; }

.event .event_specifics
{
	padding-top: 1.25em;
	border-top: 1px solid #eee;
}

h2
{
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

#eventHeader {
    margin-bottom: 1em;
    font-weight: bold;
    color: #2c6bab;
		margin-top: 0px;
}
.event .event_specifics h3 a {
    font-size: 1.25em!important;
    text-decoration: underline;
}
.event .event_specifics a:hover { cursor: pointer; }
.event .location, .event_properties, .more_info, .event_registration { margin-top: 0.5em !important; }
.event_properties { }
.ctl-property-name { font-weight: bold; }

.cancelled { color: red; }

.more_info_trigger {
    font-weight: bold;
    cursor: pointer;
}

.more_info_trigger:hover {
    text-decoration: underline;
}

.more_info_container {
    display: none;
    white-space: pre-wrap;
}

#loader-animation-container
{
	position: absolute;
	height: 200px;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ball-pulse > div { background-color: #666; }

button#clear-search, button#submit-search, div.event_registration button
{
	color: #2c6bab;
	font: proxima-nova, arial, sans-serif;
	padding: 0.3em 1em;
	border: 2px solid;
	border-width: 1px!important;
	border-radius: 10px;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
	margin-right: 0.7em;
	height: 33px;
	background-color: white;
}

button#submit-search:hover, #clear-search:hover,
div.event_registration button:hover
{
	color: #ffffff;
  background-color: #75aadb;
	cursor: pointer;
}

div.event_registration button
{
	margin-top: 0.3em;
}

.search-wrapper { position: relative; }

#left-area ul, .entry-content ul,
.comment-content ul,
body.et-pb-preview #main-content .container ul
{
	padding: 0px;
	line-height: 26px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-color: #eee!important; }

form, label, input, select
{
	display: block;
	margin-top: 5px;
	width: 100%;
}

label input
{
	padding: 2px;
	border: 1px solid #bbb;
	color: #4e4e4e;
	background-color: #fff;
	height: 33px;
	padding-left: 7px;
}

input
{
	padding: 2px;
	border: 1px solid #bbb;
	color: #4e4e4e;
	height: 33px;
	padding-left: 7px;
}

select
{
	height: 33px;
}

.sharedaddy { display: none; }
.q-no-item { color: red; }
.pagination-holder:last-child { margin-top: 3em; }

.datepicker.dropdown-menu {
    z-index: 9999 !important;
}


.search-label
{
	font-size: 16px !important;
}

@media (min-width: 981px)
{
	.search-row
	{
		width: 19.9%;
		display: inline-block;
		float: left;
		padding-right: .5em;
	}

    .ctl-events {
        padding: 0em 8em;
    }
}
