.search-wrapper input[type=search]#q
{
	padding: 2px;
	border: 1px solid #bbb;
	color: #4e4e4e;
	background-color: #fff;
	height: 24px;
}

#search-results-alerts
{
    background-color: #fffeac;
    padding: 0.75em;
    margin: 0.5em 0.5em 0.5em 0em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #eee;
    color: #a85605;
}

.search-wrapper select { height: 24px; }

.event
{
	width: 100%;
	margin-top: 2.5em;
}

.event *, form *, select, input { font-size: 14px!important; }
input { border-radius: 5px; }

.event .event_specifics
{
	padding-top: 1.25em;
	border-top: 1px solid #eee;
}

.event .event_specifics h3 a { font-size: 1.25em!important; }
.event .event_specifics a:hover { cursor: pointer; }
.event .location, .event_properties, .more_info, .event_registration { margin-top: 1em; }
.event_properties { }
.ctl-property-name { font-weight: bold; }

.cancelled { color: red; }

.more_info_trigger {
    font-weight: bold;
    cursor: pointer;
}

.more_info_trigger:hover {
    text-decoration: underline;
}

.more_info_container {
    display: none;
    white-space: pre-wrap;
}

div.event_registration button {
	background-color: #75AADB;
    border: 1px solid #75AADB;
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;
}

#loader-animation-container
{
	position: absolute;
	height: 200px;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ball-pulse > div { background-color: #666; }

button#clear-search
{
	background-color: #fff;
	border-radius: 5px;
}

.search-wrapper { position: relative; }

#left-area ul, .entry-content ul,
.comment-content ul,
body.et-pb-preview #main-content .container ul
{
	padding: 0px;
	line-height: 26px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-color: #eee!important; }

form, label, input, select
{
	display: block;
	margin-top: 5px;
	width: 100%;
}

label input
{
	padding: 2px;
	border: 1px solid #bbb;
	color: #4e4e4e;
	background-color: #fff;
	height: 24px;
}

.sharedaddy { display: none; }
.q-no-item { color: red; }
.pagination-holder:last-child { margin-top: 3em; }

.search-row
{
	border-top: 1px solid #eee;
	margin-top: 1em;
	padding-top: .5em;
}

button#clear-search { display: none; }


@media (min-width: 981px)
{
	.search-row
	{
		width: 19.9%;
		display: inline-block;
		float: left;
		padding-right: .5em;
	}

    .ctl-events {
        padding: 0em 8em;
    }
}
